<!-- footer -->
<div>
    <div class="row mt-5 bg-dark text-center " 
    style="display:flex;justify-content: space-between;width: 100%;">
<ul class="social mt-5">
    <li><i class="fa-brands fa-instagram" style="color: #ffffff; font-size: 35px;margin-left: 500px;"></i></li>
    <li><i class="fa-brands fa-twitter" style="color: #ffffff; font-size: 35px;"></i></li>
    <li><i class="fa-brands fa-youtube" style="color: #ffffff; font-size: 35px;"></i></li>
    <li><i class="fa-brands fa-facebook" style="color: #ffffff; font-size: 35px;"></i></li>
</ul>


<hr class="text-light">
<!-- map -->
<i class="fa-solid fa-location-dot" style="color: #f8f9fc;font-size: 25px;" 
data-bs-toggle="modal" data-bs-target="#exampleModal" ></i>

 

<br>
        <p class="text-light mt-3">&copy; GopikaGangadharan 2023 | All Rights Reserved</p>
        
    </div>
</div>

<!-- ===========================map===================== -->
<!-- Modal map -->
<div class="map">
    <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"  aria-hidden="true" >
        <div class="modal-dialog">
          <div class="modal-content" style="width: 440px;">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Our Location</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"  >
                <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62865.5419590752!2d76.30948060840375!3d10.008897992169063!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080c8e94a07a07%3A0x49921cdfae82660!2sKakkanad%2C%20Kerala!5e0!3m2!1sen!2sin!4v1682923440548!5m2!1sen!2sin" 
                width="400" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    