<nav class="navbar navbar-expand-lg bg-dark fixed-top bg-opacity-50 " >
    <div class="container-fluid  ">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="margin-left: 100px;">
          <!-- <a class="nav-link active text-light" href="#">ABOUT</a>
          <a class="nav-link active text-light" href="#">NEWBORN</a>
          <a class="nav-link active text-light">CEREMONY</a>
          <a class="nav-link active text-light">BDAY</a> -->

        </div>
        <a style="margin-left: 25rem;"
        class="navbar-brand text-light" id="navigationbar" href="#">Newborn Memories</a>
        <div class="navbar-nav" style="margin-left: 70px;">
            <!-- <a class="nav-link active text-light" aria-current="page" href="#">HOME</a>
            <a class="nav-link active text-light" href="#">TESTIMONIALS</a>
            <a class="nav-link active text-light" href="#">CONTACT</a> -->
            <!-- <a class="nav-link active">Disabled</a> -->
            <!-- <a class="btn btn-dark text-light" style="border-radius: 8px;margin-left: 10px;" routerLink="/admin-login">
                <i class="fa-solid fa-user" style="color: #fcfcfc;" ></i> Admin</a> -->
                <a class="btn btn-dark text-light" data-bs-toggle="modal" data-bs-target="#staticBackdropadminlogin"
            style="border-radius: 8px;margin-left: 16rem;" routerLink="/admin-login">
                <i class="fa-solid fa-user" style="color: #fcfcfc;" ></i> Admin</a>
          </div>
      </div>
    </div>
  </nav>


