
<div class="container mt-5">

  <div class="row text-center ">
        
    <h2 class="mt-2 " style="width: 450px; margin: 10px 330px 20px; line-height: 2px;border-bottom: 1px solid black;text-align: center;">
      <span style="background: white;padding: 0 10px;">ADMIN</span>
    </h2>
    <h3 class="mt-4" style="font-family: 'My Soul', cursive;font-weight: 200px;">
    We Make The Best  MEmories Ever
    </h3>
</div>

<div class="row mt-2" >
  <div class="main-div" >
    <div class="course-div"  *ngFor="let admins of adminsreg">
       <div class="imgbox"  >
         <img width="120px" height="120px" style="background-color: white;border-radius: 250px;margin-left: 40px;" 
         [src]="admins.adminimage" alt="">

         <div class="name">
          <h3>{{admins.adminName}}</h3>
         </div>

       </div>
       <div class="course-content">
          
          <div class="cnt">
            
            <ul class="text-light text-center " style="list-style: none;">
              <li>Email Id: {{admins.adminEmail}}</li>
              <li>Phnone No: {{admins.adminMobile}}</li>
            </ul>
          </div>  
          
       </div>
    </div>
</div>
</div>