.cards{
    
    display: inline;
    justify-content: space-around;
    align-items: center;
    }
    
    .service-content{
        font-size: 40px;
    margin-left: 140px;
    align-items: center;
    text-align: center;
    }
    
    .service-content h5{
       gap: 30px;
     
    }
    
.model{
    width: 440px;
}

/* .poster img{
    transition: transform ease-in-out ;
}
.poster img:hover{
    transform: scale(1.05);
} */

