<div class="container mt-3">
    <div class="row text-center ">
        
        <h2 class="mt-5 " style="width: 450px; margin: 10px 330px 20px; line-height: 2px;border-bottom: 1px solid black;text-align: center;">
          <span style="background: white;padding: 0 10px;">BABY PHOTOSHOOT</span>
        </h2>
        <h3 class="mt-4" style="font-family: 'My Soul', cursive;font-weight: 200px;">
        We Make The Best  MEmories Ever
        </h3>
    </div>
    <div class="row">
       
            
            <p class="mt-4" style="text-align: justify;">This is dummy Data: Lorem ipsum dolor sit amet, 
                consectetur adipisicing elit. Fugit earum non aliquid quibusdam tempora molestiae doloribus 
                quae corrupti, sed laboriosam eos. Dolores repudiandae nam dolor quo illum? Cumque, modi dolorum.
            </p>
            <!-- <div class="mt-5">
               <form >
                <div class="row d-flex justify-content-evently">
                <div class="col-5 ms-5">
                <h3 class="ms-5">Baby Shoot &nbsp;
                    <a routerLink="/newborn-add-items" class="btn btn-dark">
                        <i class="fa-solid fa-circle-plus"></i> Add new</a>
                </h3>
                </div>
                <div class="col-5 mt-1">
                <input [(ngModel)]="searchKey" type="text" width="300px" placeholder="search" class="form-control ">
                </div>
                </div>
                </form>
            </div> -->

            <!-- search -->
            <div class="row mt-5">

                <div class="col-lg-6 ms-5">
                    <div>
                        <input style="width: 480px;" type="text" [(ngModel)]="searchKey" placeholder="search theme" class="form-control mt-2">
                    </div>
                </div>
                 <div class="col-4 ms-5 mt-2">
               <h3 class="ms-5">Baby Shoot &nbsp;
                   <a routerLink="/newborn-add-items" class="btn btn-dark">
                       <i class="fa-solid fa-circle-plus"></i> Add new</a>
               </h3>
               </div>
            </div>

            <!-- card design -->
            <div class="container mt-5">
                <div class="row">
                    <div class="col-lg-6 mt-3" *ngFor="let additem of addnewbornitems | newbornsearch : searchKey:'theme'">
                        <!-- card -->
                       <div class="card">
                           <div class="card-body">
                            <div class="row">
                              <!-- divide 2parts -->
                              <!-- 1st part image -->
                              <div class="col-md-6">
                                <img width="250px" height="210px" [src]="additem.image" alt="">
                              </div>
                              <!-- 2nd part display contact information -->
                              <div class="col-md-6">
                                <ul class="list-group mt-3" style="border: none;">
                                    <li class="list-group-item">Item Id: {{additem.id}}</li>
                                    <li class="list-group-item">Theme: {{additem.theme}}</li>
                                    <li class="list-group-item">Budget: {{additem.budget}}</li>
                                    <!-- <li class="list-group-item">Place:{{additem.place}}</li> -->
                                </ul>
                             <!-- <div class="d-flex justify-content-evently mt-3">
                                <button class="btn btn-dark ms-4 me-4" routerLink="/newborn-edit-items" ><i class="fa-solid fa-pen-to-square"></i> Edit</button>
                                <button class="btn btn-dark" ><i class="fa-solid fa-trash"></i> Delete</button>
                             </div> -->
                                
                              </div>
                             
                            </div>
                           
                           </div>
                       </div>

                    </div>
                </div>
            </div>
      
    </div>
</div>

